In [236]:
import pandas as pd
import numpy as np
import urllib.request
import requests
import os
import shutil

In [237]:
d = pd.read_csv('data.csv', sep='\t', header = 0)

In [238]:
d.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [239]:
d1 = d[['tconst', 'titleType', 'originalTitle', 'startYear', 'genres']]

In [240]:
d1 = d1.loc[d1.titleType =='movie']

In [241]:
len(d1)

505039

In [242]:
d1 = d1.dropna()

In [243]:
d3 = d1.loc[(d1.startYear.str.contains('196')) | (d1.startYear.str.contains('197')) | (d1.startYear.str.contains('198')) | (d1.startYear.str.contains('199')) | (d1.startYear.str.contains('200')) | (d1.startYear.str.contains('201'))]

In [244]:
d3  = d3.sort_values('startYear')

In [245]:
d5 = d3.loc[d3.genres.str.contains('Documentary') == False]

In [246]:
len(d5)

269662

In [247]:
full_list = d5.loc[d5.startYear > '1960']

In [248]:
full_list_1.groupby('genres').count().sort_values(by = 'startYear', ascending = False)

                           tconst  titleType  originalTitle  startYear
genres
Drama                       55245      55245          55245      55245
\N                          43280      43280          43280      43280
Comedy                      23812      23812          23812      23812
Action                       7796       7796           7796       7796
Comedy,Drama                 7695       7695           7695       7695
Horror                       7226       7226           7226       7226
Drama,Romance                7088       7088           7088       7088
Thriller                     5800       5800           5800       5800
Romance                      3993       3993           3993       3993
Comedy,Romance               3869       3869           3869       3869
Comedy,Drama,Romance         3318       3318           3318       3318
Action,Drama                 2834       2834           2834       2834
Drama,Thriller               2659       2659           2659       2659
Crime,Drama                  2560       2560           2560       2560
Action,Crime,Drama           2399       2399           2399       2399
Crime                        2116       2116           2116       2116
Horror,Thriller              2066       2066           2066       2066
Family                       2046       2046           2046       2046
Adventure                    1686       1686           1686       1686
Drama,Family                 1670       1670           1670       1670
Animation                    1607       1607           1607       1607
Crime,Drama,Thriller         1450       1450           1450       1450
Comedy,Horror                1260       1260           1260       1260
Sci-Fi                       1247       1247           1247       1247
Action,Comedy                1232       1232           1232       1232
Drama,War                    1206       1206           1206       1206
Fantasy                      1023       1023           1023       1023
Action,Thriller               987        987            987        987
Action,Crime                  926        926            926        926
Comedy,Crime                  909        909            909        909
...                           ...        ...            ...        ...
Family,Horror,Romance           1          1              1          1
Animation,Family,Thriller       1          1              1          1
Adventure,Horror,Romance        1          1              1          1
Adventure,Crime,Sport           1          1              1          1
Family,History,Mystery          1          1              1          1
Adventure,Mystery,War           1          1              1          1
Family,Mystery,Sport            1          1              1          1
Animation,Family,Sport          1          1              1          1
Family,Sci-Fi,Thriller          1          1              1          1
Fantasy,History,War             1          1              1          1
Fantasy,History,Sci-Fi          1          1              1          1
Family,History,Romance          1          1              1          1
Family,Fantasy,War              1          1              1          1
Animation,History,Romance       1          1              1          1
Crime,Family,Mystery            1          1              1          1
Drama,Mystery,Sport             1          1              1          1
Action,Crime,Family             1          1              1          1
Action,Animation,History        1          1              1          1
Animation,History,Mystery       1          1              1          1
Animation,History,Horror        1          1              1          1
Crime,Family,Thriller           1          1              1          1
History,Sci-Fi,Thriller         1          1              1          1
Family,Fantasy,Sport            1          1              1          1
Drama,Short                     1          1              1          1
Crime,Family,Fantasy            1          1              1          1
Action,Animation,War            1          1              1          1
History,Mystery,Romance         1          1              1          1
Family,Fantasy,History          1          1              1          1
Comedy,Sci-Fi,Sport             1          1              1          1
Family,Mystery,Romance          1          1              1          1

[556 rows x 4 columns]